In [7]:
import numpy as np
from scipy import linalg
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [44]:
read=pd.read_csv(r'C:\Users\jayma\AppData\Local\Temp\Temp1_archive (8).zip\Advertising.csv',index_col=0)

In [45]:
read.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [49]:
read.size

800

In [50]:
read.shape

(200, 4)

In [51]:
read.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [60]:
feature=read[['TV','Radio','Newspaper']]
feature.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [63]:
target=read[['Sales']]
target.head()

   Sales
1   22.1
2   10.4
3    9.3
4   18.5
5   12.9

In [67]:
feature.shape

(200, 3)

In [73]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(feature,target,random_state=1)

In [74]:
print(x_train.shape)
print(x_test.shape)
print(y_test.shape)
print(y_train.shape)

(150, 3)
(50, 3)
(50, 1)
(150, 1)

In [78]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [81]:
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [82]:
predict_y=linreg.predict(x_test)

In [83]:
predict_y

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [86]:
from sklearn import metrics

In [87]:
print(np.sqrt(metrics.mean_squared_error(y_test,predict_y)))

1.4046514230328961